.section
{
    background: url(../images/20190719_093108.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 15.5vw;
}
.overlay2
{
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 42.5vw;
    background-color: rgba(119, 30, 0, 0.5);
}
.heading2{
    text-align: center;
    color: white;
    margin-top: 6vw;
    font-size: 4vw;
    font-weight: 650;
}

#bg{
    background-color: rgb(255, 244, 230);
    padding-bottom: 8vw
}
table {
    margin-top: 0;
}

#pannel1{
    position: relative;
    margin-left: 2.5vw;
    padding-bottom: 6vw;
    width: 21vw;
    height: 35vw;
    display: flex;
    flex-wrap: nowrap;
}
#ecard1 {
    border-spacing: 1vw 0.5vw;
    white-space: pre-line;  
    vertical-align: bottom;
}

.contacts{
    font-size: 4vw;
    margin:0;
    padding-top: 5vw;
    padding-left: 4vw;
    padding-right: 4vw;
    color: rgba(119, 30, 0);
}

#pqp{
    margin:0;
    padding-left:5vw;
    padding-right:5vw;
    padding-top:7vw;

}

.cdetails{
    padding-top: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;

}

.course:link{
    color: #772800;
    font-weight: 600;
}

.course:hover{
    color: #411600;
    font-weight: 700;
    
}

.course:active{
    color: #aa3900;
}

.course:visited{
    color: #aa3900;
}

.cdet:link{
    color: #5e1f00;
    text-decoration: none;
}

.cdet:hover{
    color: #b43c00;
    font-weight: 600;
}

.cdet:active{
    color: #812b00;
}

.cdet:visited{
    color: #5f2000;
}