.section1
{
    background: url(../images/20190719_093108.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 42.5vw;
}
.overlay
{
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 42.5vw;
    background-color: rgba(119, 30, 0, 0.5);
}
.heading{
    text-align: center;
    color: white;
    margin-top: 19vw;
    font-size: 5vw;
}

.exploremore{
    background-color: #B34610;
    padding: 0.5%;
    background-size:cover;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
    margin: 0;
}

#exlink:link{
    color:white;
    font-size: 2vw;
    text-decoration: none;
}

#exlink:visited{
    color: white;
    font-size: 2vw;
    text-decoration: none;
}

#white{
    background-color: white;
}
#dark{
    background-color: #2C1800;
}

#light{
    background-color: #FFEBD8;
}

.div{
    margin:0;
}


.head1{
    color: black;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    overflow: hidden;
    margin: 2vw 0vw;
}

.head2{
    color: white;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding-top: 2.5vw;
}

.head3{
    color: black;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 2.5vw 0vw;
}

table{
    position: relative;
    color: #772800;
    border-spacing: 12vw 0.5vw;
    font-size: 2.25vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5vw;
    margin-bottom: 2.7vw;
    vertical-align: bottom;
}

#myCarousel{
  position: relative;
  overflow: hidden;
  display: flex;
  height: 30vw;
  float: left;
  align-items: center;
  margin-left: 2vw;
  margin-top: 2vw;
}

.tablediv{
    position: relative;
}

#mission{
  position: relative;
  display: flex;
  padding-left: 1.7vw;
  font-size: 1.595vw;
  padding-right: 1.2vw;
  width:46.5vw;
  float:right;
  align-self: right;
}

#container{
  margin-top: auto;
  margin-bottom: auto;
}

.slider {
    font-family: sans-serif;
    text-align: center;
    width: 45.5vw;
  }
  
.slide-container {
  width: 44.5vw;
  }

#imgcar{
    width: 100%;
}

#pannel{
    position: relative;
    margin-left: 2vw;
    width: 21vw;
    height: 43vw;
    display: flex;
    flex-wrap: nowrap;

}
#ecard {
    border-spacing: 1vw 0.5vw;
}


#button{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding:3vw;
}

#href1{
    position: relative;
    color: #2C1800;
    display: flex;
    justify-content: space-evenly;
    background-color:#FFDCBC;
    padding:1.3vw;
    font-size: 1.5vw;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15vw;
    margin-right: 15vw;
}

#href2{
    position: relative;
    color: white;
    display: flex;
    justify-content: space-evenly;
    background-color:#F06E20;
    padding:1.3vw;
    font-size: 1.5vw;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15vw;
    margin-right: 15vw;
}

#href3{
    position: relative;
    color: white;
    display: flex;
    justify-content: space-evenly;
    background-color:#2C1800;
    padding:1.3vw;
    font-size: 1.5vw;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15vw;
    margin-right: 15vw;
}

#news{
    margin: 3vw;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 0;
}

.article{
    position: relative;
    background-color:white;
    margin-top: 1vw;
    margin-right: 1vw;
}

#big{
    width: 46vw;
    height: 30vw;
    background-image:
    linear-gradient(to bottom, rgba(119, 30, 0, 0.62), rgba(44,24,0,0.93)),
    url('../images/220px-Manipal_University_logo.png');
}

#research{
    position: relative;
    height:4vw;
    width: 0.7vw;
    margin-left: 6vw;
    margin-bottom:1vw;
    background-color: rgba(119, 30, 0);
}

#current{
    position: relative;
    width: 70vw;
    margin-left:2vw;
    font-size: 2.5vw;
    font-weight: 500;    
}

#small{
    width: 22.5vw;
    height: 30vw;
    background-image:
    linear-gradient(to bottom, rgba(119, 30, 0, 0.62), rgba(44,24,0,0.93)),
    url('../images/220px-Manipal_University_logo.png');
}

#newsarticle{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 7vw;
    font-size: 2vw;
    color: white;
}

#newread:link{
    color: #FFDCBC;
    text-decoration: none;
}

#newread:hover{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

#newread:visited{
    color: #d8b391;
    text-decoration: none;
}

form{
    display: flex;
    flex-wrap: nowrap;
}

ul{
    list-style:none;
}

#li::before{
    content: "\2022";
    font-weight: 800;
    color: #F06E20;
    margin-right: 2vw;
}

#list1{
    position: relative;
    font-size: 1.5vw;
    font-weight: 500;
    color: #2C1800;
    margin-left: 8vw;
    margin-right: 3vw;
}

#list2{
    position: relative;
    font-size: 1.5vw;
    font-weight: 500;
    color: #2C1800;
    margin-left: 8vw;
    margin-right: 3vw;
}