#card{
    position: relative;
    width: 21vw;
}
#uppercard{
    /*background: url(../../images/20190719_093108.jpg);*/
    background-size: cover;
    position: relative;
    background-color: #FFE4D9;
    height: 20vw;
    width: 21vw;
    margin: 0vw 2vw;
}

#pic {
    height: 21vw;
    width: 21vw;
}

#lowercard{
    position: relative;
    background-color: white;
    height: 18vw;
    width: 21vw;
    margin-left:2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
#date{
    margin: auto;
    font-size: 1.5vw;
    padding:0.3vw 1vw;
    color: white;
    text-align:center;
    font-weight: bolder;
}
#details{
    width: 19.5vw;
    position: relative;
    padding-left: 2vw;
    padding-top: 3vw;
    margin: 0;
    text-align: left;
    font-size: 1.9vw;
    color: black;
}

#read{
    position: relative;
    padding-right: 1.5vw;
    padding-top:1vw;
    text-align: right;
}

.readmorenews{
    background-color: rgb(255, 244, 230);
    border: none;
    color: #573000;
    font-weight: 50;
    vertical-align: top;
    text-decoration: none;
    cursor: pointer;
}

.readmore{
    background-color: white;
    border: none;
    color: #573000;
    font-weight: 500;
    font-size: 1.6vw;
    vertical-align: top;
    text-decoration: none;
    cursor: pointer;
}

.readmore:hover{
    color: #754c19;
    font-weight: 700;
    vertical-align: top;
    font-size: 1.6vw;
    text-decoration: none;
}


#calendar{
    position: relative;
    background-color: rgb(141, 61, 4);
    height: 4.5vw;
    width: 4.5vw;
    float: none;
    top: 22vw;
    z-index: 1;
    margin-left: 4vw;
}

#eventname{
    font-size: 4vw;
    color: #2C1800;
}

#popupcard{
    margin: 0;
    padding: 2vw;
    padding-top: 0.2vw;
    font-size: 2vw;
    text-align: left;
}

#popupdesc{
    padding-left: 2vw;
    margin-top: 0;
    padding-bottom: 1vw;
    padding-right: 2vw;
    font-size: 1.7vw;
    color: #2C1800;
    text-align: left;
}
#linkpopup {
    padding-left: 0;
    margin-top: -2vw;
    padding-bottom: 1vw;
    padding-right: 2vw;
    font-size: 1.7vw;
    color: #2C1800;
    text-align: left;
}